In [4]:
import pandas as pd
import mysql.connector 
import numpy as np

In [5]:
dfbus1=pd.read_csv("bus_1_kerela.csv")
dfbus2=pd.read_csv("bus_2_andra.csv")
dfbus3=pd.read_csv("bus_3_Telungana.csv")
dfbus4=pd.read_csv("bus_4_Assam.csv")
dfbus5=pd.read_csv("bus_5_Harayana.csv")
dfbus6=pd.read_csv("bus_6_Punjab.csv")
dfbus7=pd.read_csv("bus_7_Rajasthan.csv")
dfbus8=pd.read_csv("bus_8_Southbengal.csv")
dfbus9=pd.read_csv("bus_9_UP.csv")
dfbus10=pd.read_csv("bus_10_WB.csv")

In [6]:
dfbus=pd.concat([dfbus1,dfbus2,dfbus3,dfbus4,dfbus5,dfbus6,dfbus7,dfbus8,dfbus9,dfbus10])

In [7]:
dfbus

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_name,Route_link
0,KSRTC (Kerala) - 52,SWIFT-GARUDA A/C SEATER BUS,12:00,20:05,08h 05m,812.0,26 Seats available,4.5\n13,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
1,KSRTC (Kerala) - 1210,SWIFT-HYBRID NON AC SEATER CUM SLEEPER,12:55,20:45,07h 50m,677.0,17 Seats available,3.9\n35,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
2,KSRTC (Kerala) - 1378,AC MULTI AXLE,13:46,21:25,07h 39m,965.0,20 Seats available,4.5\n12,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
3,KSRTC (Kerala) - 129,SWIFT-GARUDA A/C SEATER BUS,14:15,22:25,08h 10m,812.0,38 Seats available,2.0\n13,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
4,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00,01:10,10h 10m,742.0,12 Seats available,NaN,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
...,...,...,...,...,...,...,...,...,...,...
43,Maa Chandi Travels,A/C Seater / Sleeper (2+2),22:00,05:30,07h 30m,400.0,34 Seats available,4.3\n110,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...
44,Sagufta Travels(Maa Chandi),A/C Seater / Sleeper (2+2),23:57,05:10,05h 13m,515.0,5 Seats available,4.1\n212,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...
45,Maa Chandi Travels,A/C Seater / Sleeper (2+2),23:57,05:10,05h 13m,400.0,37 Seats available,4.3\n49,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...
46,Mayuri Express,AC Seater (2+2),23:15,04:30,05h 15m,300.0,29 Seats available,4.3\n19,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...
47,AdParameswar Travels,A/C Seater Push Back (2+3),13:10,17:56,04h 46m,234.0,56 Seats available,3.9\n34,Kolkata to Digha,https://www.redbus.in/bus-tickets/kolkata-to-d...

# **Data Cleaning**

In [8]:
dfbus.info()

<class 'pandas.core.frame.DataFrame'>
Index: 592 entries, 0 to 47
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         560 non-null    object
 1   Bus_type         560 non-null    object
 2   Start_time       560 non-null    object
 3   End_time         560 non-null    object
 4   Total_duration   560 non-null    object
 5   Price            560 non-null    float64
 6   Seats_Available  560 non-null    object
 7   Ratings          540 non-null    object
 8   Route_name       592 non-null    object
 9   Route_link       592 non-null    object
dtypes: float64(1), object(9)
memory usage: 50.9+ KB

In [11]:
#convert Ratings to numeric
dfbus["Ratings"]=dfbus["Ratings"].str.replace("New","")
dfbus["Ratings"]=dfbus["Ratings"].str.strip()
dfbus["Ratings"]=dfbus["Ratings"].str.split().str[0]
dfbus["Ratings"] = pd.to_numeric(dfbus["Ratings"], errors='coerce')
dfbus["Ratings"].fillna(0,inplace=True)

C:\Users\ddeva\AppData\Local\Temp\ipykernel_8668\587082141.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfbus["Ratings"].fillna(0,inplace=True)

In [12]:
dfbus.info()

<class 'pandas.core.frame.DataFrame'>
Index: 592 entries, 0 to 47
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         560 non-null    object
 1   Bus_type         560 non-null    object
 2   Start_time       560 non-null    object
 3   End_time         560 non-null    object
 4   Total_duration   560 non-null    object
 5   Price            560 non-null    float64
 6   Seats_Available  560 non-null    object
 7   Ratings          592 non-null    float64
 8   Route_name       592 non-null    object
 9   Route_link       592 non-null    object
dtypes: float64(2), object(8)
memory usage: 50.9+ KB

In [13]:
dfbus = dfbus[dfbus["Price"] <= 7000]

In [14]:
# replacing the nan value
dfbus = dfbus.replace({np.nan: None})

In [15]:
dfbus.to_csv("dfbus.csv",index=False)

# **Create MySQL Data Base**

In [16]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\ddeva\appdata\local\programs\python\python313\lib\site-packages (9.1.0)

In [17]:
import mysql.connector
mydb=mysql.connector.connect(
            host="127.0.0.1",
            port=3306,
            user="root",
            password="******",
            database="REDBUS",
)


print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000187E25A6CF0>

In [19]:
import mysql.connector

connection = mysql.connector.connect(
  host = "127.0.0.1",
  port = 3306,
  user = "root",
  password = "*******",
  database="REDBUS"
 
)

In [22]:
# Table Creation
# mycursor.execute("CREATE TABLE Bus_Details(name VARCHAR(50),id VARCHAR(10),age INT(3))") 
mycursor.execute("CREATE TABLE REDBUS.REDBUSdetails(\
                  ID INT AUTO_INCREMENT PRIMARY KEY,\
                  Bus_name VARCHAR(255) NOT NULL,\
                  Bus_type VARCHAR(255) NOT NULL,\
                  Start_time VARCHAR(255) NOT NULL,\
                  End_time VARCHAR(255) NOT NULL,\
                  Total_duration VARCHAR(255) NOT NULL,\
                  Price FLOAT NULL,\
                  Seats_Available VARCHAR(255) NOT NULL,\
                  Ratings Float NULL,\
                  Route_link VARCHAR(255) NULL,\
                  Route_name VARCHAR(255) NULL\
                  );")
print("Table Created successfully")

Table Created successfully

In [24]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO REDBUS.REDBUSdetails(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = dfbus.values.tolist()

mycursor.executemany(insert_query, data)

mydb.commit()

print("Values inserted successfully")

Values inserted successfully